/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #cccccc;
    text-shadow: none;
}

::selection {
    background: #cccccc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
 
body, html {
    height:100%;
}

body {
    font-family:'Merriweather',serif;
    background: url("../img/background.gif");
    background-position:center;
    background-attachment:fixed;
    background-repeat:no-repeat;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size:cover;
}

h1 {
    font-weight:bold;
    font-size: 350%;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.window {
    background-color:#fff8ef;
    color: #614a3b;
    margin: 0 auto;
    width: 60%;
    height: 88%;
    margin-top: 3%;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.1);
}

#bar {
    display:inline-block;
    top:0;
    bottom:0;
    width:100%;
    background-color:#ecb39f;
    color:#fff8ef;
    height: 5%;
    padding: 5px 0px 5px 0px;
    overflow:hidden;
}

.title {
padding-left:10px;
float:left;
position:relative;
top:3px;
left:5px;
}

i {
padding-right: 20px;
}

#icons {
display:inline;
float:right;
position:relative;
top:3px;
left: 5px;
}

#info {
    height: 100%;
    padding: 10px 10px 10px 10px;
    overflow:auto;
}

#me {
    width: 50%;
    overflow:auto;
    float:left;
    padding-right:20px;
}

p {
font-family: 'Montserrat', sans-serif;
font-size:121%;
margin: 10px 0px 40px 0px;
padding-right:10px;
text-align:justify;
}

#links {
    margin: 0 auto;
    text-align:center;
}

a {
    color: #614a3b;
    -webkit-transition: color 2s; /* For Safari 3.0 to 6.0 */
    transition: color 0.5s; /* For modern browsers */
}

a:hover {
    color: #ecb39f;
}

.boxlink {
    background-color:#614a3b;
    color:#fff8ef;
    text-decoration:none;
    padding: 10px 10px 10px 10px;
    font-size: 150%;
    display:inline-block;
    width:220px;
    position:relative;
    right:10px;
}

.boxlink i {
    padding-right:15px;
}

@media only screen and (max-width:1480px) {
    .window {
        width:65%;
        overflow:hidden;
    }

    #info {
        margin: 10px 10px 20px 10px;
    }

    #me {
        width:46.5%;
    }

    h1 {
        font-size:360%;
    }

    p {
        font-size: 117%;
        margin: 5px 0px 30px 0px;
    }

    .boxlink {
        font-size:138%;
    }
}

@media only screen and (max-width:1350px) {
    h1 {
        font-size: 320%;
    }

    p {
        font-size: 114%;
    }

    #me {
        width: 49.5%;
    }
}

@media only screen and (max-width:1280px) {
    h1 {
        font-size:300%;
    }

    p {
        font-size:110%;
    }

    #me {
        width:52%;
    }
}

@media only screen and (max-width:1270px) {
    h1 {
        font-size:290%;
    }

    p {
        font-size:110%;
    }

    #me {
        width:53%;
    }

    a, .boxlink i {
        font-size:95%;
    }
}

@media only screen and (max-width:1260px) {

    h1 {
        font-size:290%;
    }

    p {
        font-size:110%;
    }

    #me {
        width:52%;
    }
}

@media only screen and (max-width:1230px) {

    h1 {
        font-size:270%;
    }

    p {
        font-size:110%;
    }

    #me {
        width:54%;
    }
}

@media only screen and (max-width:1200px) {
    .window {
        width: 71%;
    }

    h1 {
        font-size:290%;
    }

    p {
        font-size:110%;
    }

    #me {
        width:52%;
    }
}

@media only screen and (max-width:1130px) {

    h1 {
        font-size:270%;
    }

    p {
        font-size:105%;
    }

    #me {
        width:54%;
    }
}

@media only screen and (max-width:1100px) {

    h1 {
        font-size:265%;
    }

    p {
        font-size:105%;
    }

    #me {
        width:54%;
    }
}

@media only screen and (max-width:768px) {
    .window {
        width:70%;
        height:auto;
        margin-bottom: 3%;
    }

    #info {
        padding: 20px 30px 30px 30px;
        overflow: hidden;
    }

    #me {
        float:none;
        margin: 0 auto;
        width:100%;
        padding-right:0px;
        margin-bottom: 10px;
    }

    h1 {
        width:100%;
        text-align:center;
    }

    p {
        margin: 5px 0px 20px 0px;
        font-size: 120%;
    }
}





/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
